@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
body {
    margin: 0;
}
header {
    background-image: url(\img/bgc.png);
    height: 900px;
}
header, footer {
    padding-left: 21.09375%;
    padding-right: 21.09375%;
}
header>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 47px;
}
header>div:nth-child(1)>div:nth-child(1) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}
header>div:nth-child(1)>div:nth-child(2) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}
header>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
header>div:nth-child(2)>div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 0;
    border-left: 1px solid #FFFFFF;
}
header>div:nth-child(2)>div:nth-child(1) {
    border-left: none;
}
header>div:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-top: 600px;
}
header button {
    margin: 0px 15px;
    background: #99862A;
    border: none;
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 50px;
    width: 200px;
}
main>section:nth-child(1) {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #282828;
}
main>section:nth-child(1)>div{
    width: 57.8125%;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 3px solid #C4C4C4;
}
main>section:nth-child(1)>div>div{
    display: flex;
    justify-content: center;
    margin-left: 16.8468468%;
    margin-right: 16.8468468%;
}
main>section:nth-child(1)>div p{
    width: 733px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
main>section:nth-child(1)>div span{
    height: 1px;
    width: 160px;
    background: #FFFFFF;
}
main>section:nth-child(1)>div img{
    height: 160px;
    width: 160px;
}
h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
main>section:nth-child(1)>div>div:nth-child(1) {
    margin-top: 60px;
    margin-bottom: 40px;
}
main>section:nth-child(1)>div>div:nth-child(2) {
    margin-bottom: 40px;
}
main>section:nth-child(1)>div>div:nth-child(3) {
    margin-bottom: 50px;
}
main>section:nth-child(1)>div>div:nth-child(4) {
    margin-bottom: 60px;
}
main>section:nth-child(2) {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #E6E3C4;
}
main>section:nth-child(2)>div{
    width: 57.8125%;
    height: fit-content;
    margin-top: 80px;
    margin-bottom: 80px;
    border-top: 1px solid #998431;
    border-bottom: 1px solid #998431;
    display: flex;
    justify-content: space-between;
}
#left-part {
    width: 40.0900901%;
    margin-top: 60px;
    margin-bottom: 60px;
}
#left-part h2, #left-part h5, #left-part p, #left-part h4 {
    margin: 0;
}
#left-part h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 30px;
}
#left-part h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    color: #282828;
    margin-bottom: 30px;
    width: 66.9662921%;
}
#left-part span {
    display: block;
    background: #282828;
    width: 35.9550562%;
    height: 1px;
    margin-bottom: 30px;
}
#left-part p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
    margin-bottom: 30px;
}
#left-part>div {
    display: grid;
    grid-template-columns: 81fr 364fr;
    grid-auto-rows: repeat(3, 1fr);
    margin-bottom: 30px;
}
#left-part>div>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    border-bottom: 1px solid #282828;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
}
#left-part>div>div:nth-child(even) {
    padding-left: 30px;
}
#left-part>div>div:nth-child(odd) {
    border-right: 1px solid #282828;
}
#left-part>div>div:nth-child(even) h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #282828;
    padding-top: 10px;
    padding-bottom: 5px;
}
#left-part>div>div:nth-child(even) p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #282828;
    margin-bottom: 15px;
}
#left-part>div>div:nth-child(even) p {
    border-bottom: none;
}
#second {
    margin-bottom: 5px !important;
}
#left-part button {
    border: none;
    width: 254px;
    height: 50px;
    background: #998431;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
#right-part {
    width: 48.6486486%;
    margin-top: 60px;
    margin-bottom: 60px;
}
#right-part>img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
#right-part div{
    display: flex;
    justify-content: space-between;
}
#right-part div img {
    width: 47.2222222%;
    height: auto;
}
main>section:nth-child(3) {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #282828;
}
main>section:nth-child(3)>div {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 57.8125%;
    border: 3px solid #C4C4C4;
    margin-top: 129px;
    margin-bottom: 100px;
}
main>section:nth-child(3)>div>div:nth-child(1){
    width: 23.4234234%;
    height: auto;
    margin-top: -69px;
    margin-left: -2.7027027%;
}
main>section:nth-child(3)>div>div:nth-child(1) img{
    width: 100%;
    height: auto;
}
main>section:nth-child(3)>div>div:nth-child(3){
    width: 23.4234234%;
    height: auto;
    margin-top: -65px;
    margin-right: -4.77477477%;
}
main>section:nth-child(3)>div>div:nth-child(3) img{
    width: 100%;
    height: auto;
}
main>section:nth-child(3)>div>div:nth-child(2) {
    margin-top: -29px;
    width: 48.6486486%;
    height: fit-content;
}
.div_tasting>div {
    display: flex;
    justify-content: center;
}
.div_tasting span{
    display: block;
    width: 21.8518519%;
    height: 1px;
    background: #FFF;
}
.div_tasting p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
.div_tasting input {
    border: none;
    border-bottom: 1px solid #FFF;
    background: none;
}
.div_tasting input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: #FFF;
}
.div_tasting button {
    background: none;
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
}
.div_tasting button:hover {
    background-color: #202020;
}
.div_tasting>div:nth-child(1) {
    margin-bottom: 40px;
    background-color: #282828;
    width: 90,7407407%;
}
.div_tasting>div:nth-child(2) {
    margin-bottom: 40px;
}
.div_tasting>div:nth-child(3) {
    margin-bottom: 71px;
}
.div_tasting>div:nth-child(4) {
    margin-bottom: 30px;
    justify-content: space-between;
}
.div_tasting>div:nth-child(5) {
    margin-bottom: 50px;
}
.div_tasting>div:nth-child(6) {
    margin-bottom: 80px;
}
.div_tasting>div:nth-child(4) input {
    width: 47.2222222%;
    height: 40px;
}
.div_tasting>div:nth-child(5) input {
    width: 100%;
    height: 40px;
}
footer {
   background-color: #998431;
   height: fit-content;
   padding-top: 50px;
   padding-bottom: 50px;
}
footer>div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 60px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
footer>div:nth-child(1)>div {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer>div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 60px;
    border-bottom: 1px solid #FFFFFF;
}
footer>div:nth-child(2)>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
footer>div:nth-child(2)>div:nth-child(1) {
    border: none;
}
footer>div:nth-child(2)>div:nth-child(3) {
    flex-direction: row;
    justify-content: space-between;
}
footer>div:nth-child(2)>div:nth-child(3) img:nth-child(1) {
    width: 8.75%;
    height: auto;
    margin-left: 22.5461538%;
}
footer>div:nth-child(2)>div:nth-child(3) img:nth-child(2) {
    width: 9.23076923%;
    height: auto;
}
footer>div:nth-child(2)>div:nth-child(3) img:nth-child(3) {
    width: 3.88846154%;
    height: auto;
    margin-right: 24.9769231%;
}
strong {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 700px;
    font-size: 36px;
    line-height: 54px;
}
@media screen and (max-width: 1700px) {
    #left-part {
        width: 100%;
    }
    #right-part {
        width: 100%;
    }
    main>section:nth-child(2)>div {
        flex-direction: column;
    }
}